<div>
  <button (click)="addUrge()" class="incident-btn">Urge</button>
  <button (click)="addToke()" class="incident-btn">Toke</button>
</div>
<div>
  <table>
    <tr *ngFor="let incident of incidentList">
      <td [ngClass]="{ 'urge-incident': incident.type == 'Urge', 
                       'toke-incident': incident.type == 'Toke' }">
        {{ incident.type }}
      </td>
      <td>{{ incident.timeDisplay }}</td>
      <td>
        <button (click)="deleteIncident(incident)">X</button>
      </td>
      <td>
        <span *ngIf="incident.minutesSinceLastToke == 0">
            <span [ngClass]="{ 'muted-text': incident.type == 'Urge' }">
              &lt; 1 min
            </span>
        </span>
        <span *ngIf="incident.minutesSinceLastToke > 0">
            <span [ngClass]="{ 'muted-text': incident.type == 'Urge' }">
              {{ incident.minutesSinceLastToke }} min
            </span>
        </span>
      </td>
    </tr>
  </table>
</div>
